@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'madetommy-thin';
    src: url('/static/fonts/madetommy/mt-thin.ttf')  format('truetype')
}
@font-face {
    font-family: 'madetommy-light';
    src: url('/static/fonts/madetommy/mt-light.ttf')  format('truetype')
}
@font-face {
    font-family: 'madetommy-regular';
    src: url('/static/fonts/madetommy/mt-regular.ttf')  format('truetype')
}
@font-face {
    font-family: 'madetommy-bold';
    src: url('/static/fonts/madetommy/mt-bold.ttf')  format('truetype')
}
@font-face {
    font-family: 'helvetica-regular';
    src: url('/static/fonts/helvetica/helvetica-regular.ttf')  format('truetype')
}

@font-face {
    font-family: 'Big Shoulders Display';
    src: url('/static/fonts/Big_Shoulders_Display/BigShouldersDisplay-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Righteous';
    src: url('/static/fonts/Righteous/Righteous-Regular.ttf') format('truetype');
}
