body {
    font-family: "madetommy-regular";
    font-weight: 500;
}

a,
a:hover {
    text-decoration: none;
}

button:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    color: #003e54;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.text-monospace {
    font-family: "Inconsolata";
}

.bs-light {
    box-shadow: 0px 0px 15px 1px rgba(27, 95, 138, 0.13);
    border-radius: 8px;
}

.jumbotron-heading {
    font-weight: 700;
    font-size: 2.5rem;
    font-family: "madetommy-bold";
    color: #003e54;
}

.jumbotron-sub-heading {
    font-weight: 500;
    font-size: 2rem;
    color: #003e54;
}

.card-title {
    font-weight: 600;
    font-size: 1.5rem;
    color: #003e54;
}

.card-sub-title {
    font-weight: 500;
    font-size: 1rem;
    color: #003e54;
}

.regular-text {
    font-size: 1rem;
    font-weight: 400;
    color: #748f99;
}

.btn {
    padding: 0.56rem 1.9rem;
    font-family: "madetommy-regular";
}

.form-control {
    border: 1px solid #C9CED6;
    padding: 1rem 0.75rem;
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
    height: 2.5rem;
    border-radius: 6px;
}

.modal-content {
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 30px 6px #4848489c;
    border: none;
}
.modal-footer {
    border: none;
}

.hackathon-nav .nav {
    justify-content: center;
    padding: 1rem 0rem;
}
.hackathon-nav .nav-link {
    color: grey !important;
    transition: 0.3s;
    padding: 0.5rem 1rem;
}
.hackathon-nav .nav-item .nav-link.active, .hackathon-nav .nav-item .show>.nav-link{
    background: white;
    border-radius: 10px;
    color: #003e54 !important;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
}


.nav-link {
    color: grey !important;
    transition: 0.3s;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: white;
    border-radius: 10px;
    color: #003e54 !important;
    font-size: 1rem;
    padding: 1rem 1rem;
    font-family: madetommy-bold;
}

.markabcs h2 {
    font-size: 1.2rem !important;
    margin-bottom: 0.6rem !important;
}